.page {
  border:1px solid purple;
  width:900px;
  margin:0 auto;
  padding:5px;
  text-align:left;
  position:relative
}



.left {
  border:2px solid green;
  width:150px;
  float:left;
  margin:150px 0 10px 5px;
  height:100px;
}

.center {
  border:2px solid blue;
  width:550px;
  margin:10px 0 10px 175px;
  height:800px
}

.right {
  position:absolute;
  top:150px;
  right:10px;
  border:2px solid green;
  width:150px;
  margin:0;
  height:100px;
}