body{
  background-color:#2e368f;
  font-size:14pt;
  color:white;
  font-family: EB Garamond, serif;
  max-width: 600px;
}


.container {
  position: relative;
  text-align: center;
  color: white;
}


.left {
  position: absolute;
  top: 5px;
  margin-left: 30px;
}

