.page {
  border:1px solid purple;
  width:755px;
  margin:0 auto;
  padding:5px;
  text-align:left;
  position:relative
}



.left {
  border:2px solid green;
  width:150px;
  float:left;
  margin:10px 0 10px 5px;
  height:200px;
}

.center {
  border:2px solid blue;
  width:400px;
  margin:10px 0 10px 175px;
  height:300px
}

.right {
  position:absolute;
  top:15px;
  right:10px;
  border:2px solid green;
  width:150px;
  margin:0;
  height:200px;
}